

#background {
	position: fixed;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
	z-index: -1;
}

#background img {
	position: absolute;
	top: 0;	
	left: 0;
	right: 0;
	bottom: 0;	
	margin: auto;
	min-width: 50%;
	min-height: 50%;	
}

.statement {
	width: 130px;
	height: 150px;
	margin-top: 40px;
	padding: 0px 15px 15px 15px;
	display: inline;
	float: right;
	background-color: rgba(000, 000, 000, .4);	
}

.statement h1 {
	/*font-family: 'Ariel', sans-serif; */
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.2em;
	line-height: 1.4em;
	color: white;
	text-align: right;
	opacity: .7;
}

.copywrite p {
	width: 100%;
	margin-top: 0px;
	font-family: 'Ariel', sans-serif;
	font-style: italic;
	font-size: .6em;
	text-align: center;
	color: black;
}

body {
	margin: 0px;
	/*background-image: url("../img/homepage.png");
	background-size: cover;*/
}

.wrapper {
	margin: 0px auto;
}

/*.article_background {
	margin: 0px auto;
	width: 55%;
	height: 100%;
	background-color: black;
	opacity: .2;
}
*/
article {
	margin: 25px auto;
	padding: 0px 25px;
	width: 45%;
	height: 100%;
	background-color: rgba(000, 000, 000, .3);
}

.top {
	margin-top: 60px;
	padding-top: 0px
}

.about_bottom {
	padding-bottom: 20px;
}

p {
	margin: 0px;
	padding: 10px 0px 15px 0px;
	font-size: 1em;
	font-family: 'Open Sans Condensed', sans-serif;
	color: white;
}

h2 {
	margin: 0px;
	padding: 20px 20px 0px 0px;
	font-size: 1.6em;
	font-family: 'Open Sans Condensed', sans-serif;
	color: white;
}

header {
	width: 100%;
	height: 70px;
	margin: 0px;
	background-color: #e7f12d;
	border-bottom: 4px solid #ce0606; 
}

/*.pinstrip {
	margin-top: 2px;
	border-top: 5px solid #e7f12d;
}
*/
nav {
	margin-top: 3px;
	height: 35px;
	background-color: #ce0606;
	border-top: solid 4px white;
	border-bottom: 4px solid black;
}

nav ul {
	display: block;
	text-align: center;
}

nav li {
	font-family: 'Ariel Bold', sans-serif;
	font-size: 1.55em;
	display: inline-block;
	padding-right: 45px;
}

nav a:hover {
	color: #e7f12d;
}

a {
	text-decoration: none;
	color: black;
} 

.facebook {
	height: 55px;
	width: 55px;
	position: absolute;
	top: 68px;
	right: 115px;
}

.twitter {
	height: 44px;
	width: 44px;
	position: absolute;
	top: 74px;
	right: 48px;
}

.logo {
	display: block;
	margin: 0px auto;
	padding-top: 15px;
	height: 55px;
}

.facebook:hover, .twitter:hover {
	opacity: .4;
}

footer {
	width: 100%;
	height: 40px;
	margin: 0px;
	background-color: #e7f12d;
	border-top: 4px solid black; 
	border-bottom: 20px solid #ce0606;
	position: fixed;
	bottom: 0px;
}